// Specific CSS for your home-page

.wrapper {
  background-color: rgb(240,240,240);
}

.container {
  background-color: rgb(240,240,240);
  height: 100vh;
}

p {
  color: rgb(75,75,75);
}

ul li {
  color: rgb(100,100,100);
  list-style-type: disc;
}

#main-image {
  height: 40vh;
  width: 100vh;
  margin-bottom: 35px;
  margin-top: 35px;
}


.draft-link {
  text-decoration: none;
  color: #F7230C;
}

.draft-link:hover {
  color: #6B0D0D;
}

.contact > a {
  color: black;
  font-size: 29px;
  font-weight: light;
}
