.draft-intro {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 45px;
  align-items: center;
}

.draft-title {
  font-size: 25px;
  color: rgb(175,175,175);
  letter-spacing: 0.5px;
}

.draft-main {
  margin-bottom: 30px;
}

.draft-resume {
  margin-bottom: 30px;
}

.home-button {
  font-size: 18px;
}
