<div class="footer">
  <div class="footer-links">
    <a href="mailto:sassonia.victor@gmail.com">Contact</a>
  </div>
  .
  <div class="footer-social">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href=""><%= image_tag("codewars.png", :alt => "Codewars logo", :class => "codewars-icon") %></a>
  </div>
</div>
