<div class="footer">
  <div class="footer-links">
    <a href="mailto:sassonia.victor@gmail.com">Contact</a>
  </div>
  .
  <div class="footer-social">
    <a href="https://github.com/VictorSass"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/victor-sassonia-91685190/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.codewars.com/users/Vick33"><%= image_tag("codewars.png", :alt => "Codewars logo", :class => "codewars-icon") %></a>
  </div>
</div>
