<div class="wrapper">
  <div class="container">
    <div class="résumé">
      <div class="main-title text-center">
        <%= image_tag 'js30.png', :id => "main-image" %>
      </div>

      <div class="main-intro">
        <h5>Welcome to my take on Wes Bos' exerices of Javascript30 courses. I am currently still working on doing this challenge, for this reason, some exercices are not available yet.</h5>
        <p><b>Visualize an exercise by clicking on one of the links below ↓</b></p>
      </div>
    </div>
    <div class="draft-list">
      <div class="row">
        <% @drafts.each do |draft| %>
          <div class="col-xs-6">
            <ul>
              <li>
                <%= link_to draft.name, draft_path(draft), :class => "draft-link" %>
                <% if draft.completed == "Yes" %>
                  <i class="fas fa-check"></i>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

