<div class="wrapper">
  <div class="container">
    <div class="draft-intro">
      <div class="home-button"><%= link_to "Home", root_path, :class => "draft-link" %></div>
      <div class="draft-title"><%= @draft.name %></div>
    </div>

    <% if @draft.completion.nil? %>
      <h2>Sorry, I've yet to do this exercise</h2>
    <% else %>
      <%=raw @draft.completion %>
    <% end %>

  </div>
</div>
